* {
    margin: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    padding: 15px;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .student-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .student-info img {
    width: 200px;
    height: auto;
    border: 2px solid #000000;
  }
  

  .labs {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 20px;

}

.labs a {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 100%;
    background-color: #f0f0f0;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
}

.labs a:hover {
    background-color: #ddd;
}

.content {
    display: flex;
}

.menu {
    width: 25%;
    padding: 10px;
    border-right: 1px solid #ccc;
}

.menu a {
    display: block;
    width: 75%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    background-color: #f0f0f0;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #ddd;
}

.info {
    width: 75%;
    padding: 20px;
    background-color: #fafafa;
    border: 1px solid #ccc;
}